@import '../utils/variables.scss'; //Importo las variables
@import '../utils/mixins.scss'; // Importo Mixins


.main-content {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 630px;
    margin: 0 auto;
    padding: 50px;
    background-color: $primary-color;
}

.text-content {
    flex: 1;
}

.image-placeholder {
    flex: 1;
    height: 400px;
    @include flexbox(center, center);
    font-weight: bold;
}

.image-placeholder img {
    height: 420px;
    width: auto;
}

.hero-div {
    .hero-h1 {
        color: $secundary-color;
        font-size: 36px;
        margin: auto;
        padding-bottom: 30px;
    }
    p{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: large;
    }
}

.cta-button {
    background-color: $background-color;
    color: $bg-color;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}