// Importaciones
@import '../utils/variables.scss'; //Importo las variables
@import '../utils/mixins.scss'; // Importo Mixins

header {
    nav {
        background-color: #ffffff;
        padding: 20px;

        .logo {
            @include flexbox(center, center);
            font-size: 24px;
            font-weight: bold;
            color: $font-color-dark;
        }

        .nav-item-a,
        .nav-item-inicio,
        .navbarDropdown {
            display: flex;
            margin-left: 20px;
            text-decoration: none;
            transition: all .15s;

            &:hover {
                color: $secundary-color;
            }

        }

        .nav-item-a {
            color: #ffb178;

            &:hover {
                color: $secundary-color;
            }
        }

        .nav-item-inicio {
            color: $secundary-color;

            &:hover {
                color: $secundary-color;
            }
        }

        .navbarDropdown {
            padding: .375rem .75rem;
            margin: 0px;
            margin-left: 10px;
            border-radius: .25rem;
            color: #ffb178;

            &:hover {
                color: #ffffff;
                background-color: $background-color;
                font-weight: 400;
                line-height: 1.5;
                box-shadow: #000000;
            }
            &:focus {
                background-color: $background-color;
                color: $primary-color;
            }
        }
    }
}

.dropdown-menu {
    border-radius: .60rem;
    border-top-left-radius: 0px;
    padding: 0px;
    box-shadow: 2px 8px 15px 4px rgba(0,0,0,0.16);
    -webkit-box-shadow: 2px 8px 15px 4px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 8px 15px 4px rgba(0,0,0,0.16);
}

.dropdown-item {
    color: $secundary-color;
    @include flexbox(space-between, center);

    &:hover {
        color: $secundary-color;
        background-color: #FAF7F2;
        border-top-right-radius: .50rem;
        border-bottom-right-radius: .50rem;
        border-bottom-left-radius: .50rem;
    }
}

li a i {
    display: none;
    font-size: xx-small;
    color: $secundary-color;
}

li a:hover i {
    display: inline;
    color: $secundary-color;
}