// Aca van a ir todos los imports de todos los estilos de la pagina
@import './utils/reset.scss';
@import './pages/home.scss';
@import './pages/diary.scss';
@import './pages/blog.scss';
@import './pages/about.scss';
@import './pages/features.scss';
@import './pages/emotions.scss';
@import './pages/login.scss';
@import './pages/payment.scss';
