// Variables 


//Colores
$primary-color: #FAF7F2;
$secundary-color:#FF7E1D;
$accent-color: #0C6FF9;
$bg-color: #F5F5F5;
$bg-color-secundary: #FFFFFF;
$font-color-light: #9E9E9E;
$font-color-dark: #000000;
$font-color-logo:#FFFFFF;
$btn-color: #0C6FF9;
$btn-color-hv: #005EE5;
$btn-text-color: #FFFFFF;

$btn-color-dp: #000000;
$txt-btn-color: #000000;

$btn-lkd-color: #A7A7A7; //en hover es el color acento

$tg-color-social: #F3BCF8;
$tg-color-personal: #F6DC98;
$tg-color-profesional: #BAF3FB;

$switcher-color-default:#E8E8E8;
$switcher-color-hv: #C9C9C9;
$switcher-color-selected: #000000;



//Fonts
$font-stack: "Lato", sans-serif;

$h1-font-size: 48px;
$h1-font-weight: bold;

$h2-font-size: 34px;
$h2-font-weight: bold;
$h2-line-height: 105%;

$h3-font-size: 24px;
$h3-font-weight: bold;
$h3-line-height: 105%;

$h4-font-size: 20px;
$h4-font-weight: bold;
$h4-line-height: 105%;

$p-font-size: 16px;
$p-font-weight: medium;
$p-line-height: 120%;
$p-letter-spacing: -2%;

$p-bold-font-size: 16px;
$p-bold-font-weight: bold;
$p-bold-line-height: 120%;
$p-bold-letter-spacing: -2%;

$tagline-font-size: 12px;
$tagline-line-height: 105%;
$tagline-font-weight: bold; // ver el extra 


$blog-font: 'Merriweather', sans-serif;
$blog-font-size:16px;
$blog-line-height: 150%;

$blog-font-bold: 'Merriweather', sans-serif;
$blog-font-size:16px;
$blog-line-height: 150%;
$blog-bold-font-weight: bold;
$txt-btn-decoration: underline;