// Variables 

$primary-color: #FAF7F2;
$secundary-color:#FF7E1D;
$accent-color: #0C6FF9;
$bg-color: #F5F5F5;
$bg-color-secundary: #FFFFFF;
$font-color-light: #9E9E9E;
$font-color-dark: #000000;
$btn-color: #0C6FF9;
$btn-color-hv: #005EE5;

$font-stack: "Lato", sans-serif;

